
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&family=Teko&family=Vollkorn:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Serif:ital@1&family=Roboto+Condensed&display=swap&family=Playfair+Display:ital,wght@1,500');


* {
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
    background-color: #000;

}

:root{
    --sidebarwidth: 150px;
    --normalsidebar:60px;
}


a{
    text-decoration: none;
    color: #000;
}


.login-signup-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-shrink: 1;
}


#stash-port-img{
    height: 100vh;
    box-sizing: content-box ;
    vertical-align: bottom;
}

.login-sigup-form{
    background-color: #040F16;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-upload form{
    display: flex;
    align-items: center;
    gap: 5px;
}

.left-side-upload-search{
    display: flex;
}

.left-side-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.left-side-upload .search{
    width: 100%;;
}




.login-signup-box{
    padding: 30px 50px 10px 50px ;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 25%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}



#stash-port-title{
    color: #000;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}

.login-signup-box input{
    box-sizing: border-box;
    border-radius: 13px;
    padding: 10px;
    background-color: #D3D3D3;
    border: 1px solid #D3D3D3;
    width: 100%;
    
}


.username, .password, .button button{
    margin-bottom: 10px;
}

.name-user-box, .username-signup, .password-signup, .confirm-password-signup{
    margin-bottom: 10px;
}

.signup-form input{
    border-radius: 10px;
}


.button, .button-signup{
    display: flex;
    justify-content: center;
}

.button button, .button-signup button{
    padding: 7px;
    border-radius: 12px;
    width: 40%;
    border: 2px solid  #D3D3D3;
    background: linear-gradient(to bottom, #27E1EE, #EE00F5);
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.others{
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
}

.others-signup{
    display: flex;
    justify-content: center;
    font-size: .9rem;
}

.others a, .others-signup a{
    text-decoration: none;
}

.others a:hover{
    color: cyan;
}

.name-user-box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.login-username-helper, .login-password-helper, .signup-fname-helper, .signup-lname-helper, .signup-username-helper, .signup-password-helper, .signup-confirm_password-helper{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: .8rem;
}

.signup-name-error{
    display: flex;
    justify-content: space-between;
}

.body-container, .body-container-allpost{
    height: 100vh;
}

.body-container-allpost{
    background-color: #8877;
}


.header {
    background-color: #FF6600;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 220px;
    z-index: 1;
    height: 110px;
    width: calc(100% - 220px); 

  }
  
.article, .article-upload{
    margin-top: 100px;
    background-color: #fff;
    font-family: 'Teko', sans-serif;
    padding: 15px;
    margin-left: 220px;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-y: auto; 
    
}

.article-upload{
    padding: 5%;
    position: relative;
}


.article{
    display: grid;
    grid-template-columns: 15fr 3fr;
    
    gap: 20px;
}

.thumbnail-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

.thumbnail-box div{
    text-overflow: ellipsis;
    align-self: start;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
}

.thumbnail-article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.thumbnail-box img{
    width: 100%;
    border-radius: 10px;
    border-right: 5px solid #fff;
   
}

.side-content-article{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.new-upload-box-text{
    font-family: sans-serif;
    font-size: .9rem;
}


.new-upload-post{
    background-color:#929292;
    height: 300px;
    padding: 5px;
    border-radius: 8px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activeIcon{
    background-color: red;
}
.left-thumbnail div:first-child{
    font-family: sans-serif;
    font-size: .8rem;
}

.categories_name{
    font-family: sans-serif;
    font-weight: 700;
    font-size: .9rem;
}

.new-upload-post-box{
    background-color: #F7ECE1;
    margin-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.new-upload-post-box a:hover{
    text-decoration: underline;
    
}

.sidebar{
    background-color: #ff983f;
    padding: 20px 20px 20px 20px;
    position: fixed;
    width: 220px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
}

.header-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-down-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-down-right{
    align-self: self-end;
}

#hi-there{
    font-size: .8rem;
    font-weight: 500;
}

#user-name{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: sans-serif;
    font-style: italic;
}

.search{
    border-radius: 15px;
    border: 2px solid lightgray;;
    background-color: #fff;
    padding: 3px 5px;
    width: 20%;
}

.search-input:focus {
    border: 2px solid #ff5733;
  }

#upload{
    background-color: #009DDC;
    padding: 4px 15px;
    border-radius: 15px;
    border: hidden;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8rem;
}

.dashboard-box, .dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.dashboard-box{
    margin-bottom: 15px;
    background-color: #ff983f;
    border: none;
}

.logout-box{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon-dash{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.icon-dashboard{
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
}

#dashboard-text{
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'PT Serif', serif;
}

.dashboard-icon{
    font-size: 35px;
}

.dash-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
}

.home-avatar img{
    width: 35px;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 1,
  'opsz' 50
  
}

.other-dash-icon{
    font-size: 20px;
}

#dashboard-text.hide, .dash-text.hide{
    display: none;
}


.sidebar.hide {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding: 20px 5px 20px 5px;
    width: 50px;
}

.header.hide{
    left: 50px;
    width: calc(100% - 50px);
}

.article.hide{
    margin-left: 50px;
}

.article-history.hide{
    margin-left: 100px;
}


.dashboard-icon.hide  {
    font-size: 25px;
}


.icon-dashboard.hide{
    animation: rotate 0.5s ease-in both;
}

.icon-dashboard{
    animation: rotate_invert 0.5s ease-in both;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}


@keyframes rotate_invert {
    0% {
        transform: rotate(0);
    }

    100%{
        transform: rotate(-360deg);
    }
}

.logout-box.hide{
    position:  static;
}

.icon-dash.hide{
    animation: scale 0.5s ease-in both;
}

@keyframes scale {
    50%{
        transform: scale(0.5);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.logout-icon{
    padding-left: 2px;
}

/* For Upload Html */
.title-area{
    display: flex;
    margin-bottom: 15px;
}

.folder-dropdown {
    width: 100px;
    overflow: hidden;
}

/* Style the select element */
.folder-dropdown select {
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
}

.title-input {
    flex-grow: 1; 
  }

.post-text-box{
    width: 100%;
    height: 40px;
    background-color: #D4DCCD;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.post-textbox-upload{
    width: 100%;
    background-color: #D4DCCD;
    padding: 15px;
    box-sizing: border-box;
}

.title-area input{
    width: 100%;
}

.links input:focus, #title:focus, #folders:focus, .search:focus{
    outline: none;
    border: 1px solid #3595f6;
}

#folders, #title{
    height: 30px;
    box-sizing: border-box;
    border: thick;
}

#title{
    padding: 3px 7px 3px 7px;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
}

#folders{
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px; 
    border-right: 1px solid;
}

.links input{
    width: 50%;
    padding: 3px 7px 3px 7px;
    border-radius: 3px;
    border: thick;
    margin-bottom: 15px;
}

.description-textbox input{
    width: 100%;
    height: 200px;
}
.description-textbox textarea {
    width: 100%; 
    height: 300px;
    box-sizing: border-box; 
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border-color: #fff;
}

.description-textbox textarea:focus{
    outline: none;
    border-color: #3595f6;
}
  
  .tagArea{
   display: flex;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
    width: 30%;
  }

 
  .tagArea input{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
  }
  .tagArea div:first-child{
    text-align: center;
  }

  #multiple-tags{
    font-size: .8rem;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .post-link-button button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    background-color: #BCC7C7;
    border: hidden;
    border-radius: 5px;
  }
  .post-link-button{
    display: flex;
    justify-content: center;
  }




  .close-folder-div{
    box-sizing: border-box;
    padding: 0;
    border: none;
    height: 18px;
    width: 18px;
    background-color: transparent;
    position: absolute;
    top: 2%;
    right: 1%;
  }

  .close-folder-div button, .close-folder-div  button i{
    height: 18px;
    width: 18px;
    font-size: 18px;
    display: flex;
  }

  .close-folder-div button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: hidden;
  }

  .close-folder-div button i{
    align-items: center;
    justify-content: center;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }



  
  .add-new-folder{
    box-sizing: border-box;
    margin: 10px;
    background-color: #BBC7A4;
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 25%;
    left: 45%;
    transform: translateX(-50%) scale(0);
    display: none;
    z-index: 1000;
    animation: zoomIn 0.5s ease-in forwards;
    width: 300px;
  }

  .all_folder_image {
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 300px; 
    grid-gap: 5px; 
}


.all_folder_image img{
    width: 80px;
    box-sizing: border-box;
}

.select{
    border: 3px solid gold;
}


  .all_folder_image::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
}

.all_folder_image::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 3px; 
}

.all_folder_image::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}



  .add-new-folder div:first-child{
    font-family: 'Teko', sans-serif;
  }

  .add-new-folder div:nth-child(2) input{
    border: hidden;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  .add-new-folder form{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .add-new-folder form button{
    padding: 3px;
    border: hidden;
    border-radius: 2px;
    font-family: 'Teko', sans-serif;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
  }

  .folder_name_helper{
    display: block;
    margin-bottom: 5px;
    color: red;
    font-size: .8rem;
}

.disabled-button{
    pointer-events: none;
    cursor: not-allowed; 
    background-color: #ccc; 
    color: #888;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.all_error_post {
    position: absolute;
    left: 50%;
    top: 30%;
    background-color: #8877;
    width: 30%;
    padding-bottom: 20px;
    border-radius: 5px;
    z-index: 1000;
    transform: translateX(-50%) ; 
    animation: fadeIn 0.5s ease forwards;
    opacity: 0; 
}

.all_error_post-header, .all-errors-guide{
    padding: 0 20px 0 20px
}
.all-errors-guide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5px;
}

.all_error_post-header div:first-child{
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}


.all_error_post-header div:nth-child(2){
    position: absolute;
    top: 1%;
    right: 1%;
    width: 20px;
    height: 20px;
}
.all_error_post-header div:nth-child(2) button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: hidden;
}

.all_error_post-header div:nth-child(2) i{
    font-size: 20px;
}

.all_error_post div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: red;
}

.tagify {
    border: 2px solid #ccc;
    padding: 0px;
    background-color: #f0f0f0;
    border-radius: 5px;
}


.tagify__tag {
    color: white;
    border-radius: 3px;
}

.tagify__input {
    width: 200px;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    text-align: left;
    line-height: normal;
}




@media (max-width: 768px) {

 
    .new-upload-post{
        max-width: 100%;
    }
    
    .left_image{
        display: none;
    }

    .article{
        display: block;
    }

    .left-thumbnail{
        margin-bottom: 20px;
    }
 
    
    .login-signup-container{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-sigup-form{
        width: 100vw;
        height: 100vh;
        border: none;
    }

    .login-signup-box{
        padding: 30px 10px 30px 10px ;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        width: 70%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
    }

    .search{
        width: 50%;
    }

    #dashboard-text, .dash-text{
        display: none;
    }
    
 
    .dashboard-icon  {
        font-size: 25px;
    }
    
    .logout-box{
        position:  static;
    }

    .sidebar.hide ul{
        display: block;
    }


    .body-container{
        grid-template-columns: 1fr;
    }

    .dashboard-box{
        background-color: transparent;
    }

    

    #dashboard-text.hi, .dash-text{
        display: none;
    }
    
    
    #dashboard-text.hide, .dash-text.hide{
        display: block;
    }
    
    .body-container.hide{
        grid-template-columns: 1fr;
        height: 100vh;
    
    }



    .sidebar.hide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: var(--sidebarwidth);
    }

    .sidebar{
        width: var(--normalsidebar)
    }

    .header.hide{
        left: var(--sidebarwidth);
        width: calc(100% - var(--sidebarwidth));


    }

    .header{
        left: var(--normalsidebar);
        width: calc(100% - var(--normalsidebar));
        height: 105px;
    }

    .article.hide{
        margin-left: var(--sidebarwidth);
    }

    .article{
        margin-left: var(--normalsidebar);
    }

    
    .article-upload{
        margin-left: var(--normalsidebar);
        margin-top: 60px;
    }

    .article-upload.hide{
        margin-left: var(--sidebarwidth);
    }

    
    .icon-dashboard{
        animation: rotate 0.5s ease-in both;
    }
    
    .icon-dashboard.hide{
        animation: rotate_invert 0.5s ease-in both;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0);
        }
    
        100%{
            transform: rotate(360deg);
        }
    }
    
    
    @keyframes rotate_invert {
        0% {
            transform: rotate(0);
        }
    
        100%{
            transform: rotate(-360deg);
        }
    }
    
  
    .icon-dash{
        animation: rotate 0.5s ease-in both;
    }
    
    .icon-dash.hide{
        animation: none;
    }

  
  
  }



  
.header-upload{
    height: 45px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prof-img{
    width: 35px;
    height: 35px;
  }
  

.article-upload{
    margin-top: 45px;
}

.article-upload.hide{
    margin-left: var(--sidebarwidth);
}




  

  @media (max-width: 600px) {
    .login-signup-box{
        width: 100%;
    }

    .search{
        width: 50%;
    }
    .icon-dashboard{
        animation: rotate 0.5s ease-in both;
    }
    
    .icon-dashboard.hide{
        animation: rotate_invert 0.5s ease-in both;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0);
        }
    
        100%{
            transform: rotate(360deg);
        }
    }
    
    
    @keyframes rotate_invert {
        0% {
            transform: rotate(0);
        }
    
        100%{
            transform: rotate(-360deg);
        }
    }
    
  
    .icon-dash{
        animation: scale 0.5s ease-in both;
    }
    
    @keyframes scale {
        50%{
            transform: scale(0.5);
            opacity: 0;
        }
    
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }
    

  }

  @media (max-width: 1450px) {
    .login-signup-box{
        width: 70%;
    }

  

  }

  @media (min-width: 1921px){
    
  }
 
  
  