<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='folder-post.css') }}"
  />
    <title>All Post</title>
  </head>
  <body>
    <div class="main-container">
    <nav class="nav">
      <div class="searchInput">
        <label for="search"
          ><i class="material-symbols-outlined">Search</i></label
        >
        <input type="text" id="search" autocomplete="off" autofocus />
      </div>

      <div class="middle-nav">
        <a href=""><i class="material-symbols-outlined">Home</i></a>
        <a href=""><i class="material-symbols-outlined">History</i></a>
      </div>

      <div class="nav-profile">
        <img src="{{ url_for('static', filename='images/rabbit.png') }}" alt="icon">
      </div>
    </nav>

    <aside class="aside">
      <div class="my-collection-title">Other Collections</div>

      {% for folder in other_folders %}
      <div class="collection-box">
        <div class="collection-img"><img src="{{ url_for('static', filename='folderimg/1.png') }}" alt="Category Image"></div>
        <div class="collection-name">{{folder['folder_name']}}</div>
      </div>
      {% endfor %}

   

    </aside>

    <article class="article">
      <div class="article-title">Programming Post</div>

      

      {% for post in post_contents %}
      <div class="box-post">
       <div class="post-title">{{post['title_name']}}</div>
        <a class="delete-post" href="/home/folder/{{current_folder}}/delete-post/{{post['title_name']}}"><i class="material-symbols-outlined">Delete</i></a>   
      </div>
      {% endfor %}

    </article>
  </div>
  </body>
</html>
