<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='folder-post.css') }}"
  />
  <script src="{{ url_for('static', filename='folder-post.js') }}" defer></script>
    <title>All Post</title>
  </head>
  <body>
    <div class="main-container-post">
    <nav class="nav">
      <div class="searchInput">
        <label for="search"
          ><i class="material-symbols-outlined">Search</i></label
        >
        <input type="text" id="search" autocomplete="off" autofocus />
      </div>

      <div class="middle-nav">
        <a href="/home"><i class="material-symbols-outlined icon">Home</i></a>
        <a href=""><i class="material-symbols-outlined icon">History</i></a>
      </div>

      <div class="nav-profile">

      <div class="nav-profile-extend">
        <img src="{{ url_for('static', filename='images/rabbit.png') }}" alt="icon">

        <div class="open-profile-box">
          <div class="triangle"></div>
          <div class="content">
            Profile
          </div>
        </div>

      </div>

    </div>

    </nav>

    <aside class="aside">
      {% if other_folders|length == 1 %}
      <div class="my-collection-title">No Other Collections</div>
      {% else %}
      <div class="my-collection-title">Other Collections</div>
      {% endif %}

      {% for folder in other_folders %}

      {% if folder['folder_name'] != current_folder %}
      <a class="collection-box" href="/home/folder/{{folder['folder_name']}}">
        <div class="collection-img"><img src="{{ url_for('static', filename='folderimg/' ~ folder['src_id'] ~ '.png') }}" alt="Category Image">
        </div>
        <div class="collection-name">{{folder['folder_name']}}</div>
      </a>
      {% endif %}
      {% endfor %}

   

    </aside>

    <article class="article">
      <div class="article-title">{{current_folder}} Post</div>

      

      {% for post in post_contents %}
      <div class="box-post">
        <a href="/home/folder/{{current_folder}}/post/{{post['title_path']}}">
       <div class="post-title">{{post['title_name']}}</div>
      </a>
        <a class="delete-post" href="/home/folder/{{current_folder}}/delete-post/{{post['title_name']}}"><i class="material-symbols-outlined">Delete</i></a>
      </div>
      {% endfor %}

    </article>
  </div>
  </body>
</html>
