<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='profile-box.css') }}"
  />
    <script src="../static/dashboard.js" defer></script>
    <script src="{{ url_for('static', filename='profile-box.js') }}" defer></script>
    <title>Home</title>
  </head>
  <body>

  
    <div class="body-container">
      <header class="header">
        <form class="header-top" action="/search" method="GET">
          <label for="search" class="material-symbols-outlined"> search </label>
          <input type="text" class="search" name="q" id="search" autocomplete="off" />
        </form>
        <div class="header-down">
          <div class="header-down-left">
            <div class="home-avatar">
              <img  src="{{ url_for('static', filename='avatars/' ~ current_avatar_path) }}" alt="icon" />
            </div>
            <div>
              <div id="hi-there">Hi there,</div>
              <div id="user-name">{{full_name['full_name']}} (@{{username}})</div>
            </div>
          </div>
          <div class="header-down-right">
            <div><a href="/home/upload" id="upload">Upload</a></div>
          </div>
        </div>
      </header>
      <aside class="sidebar">
        <button class="dashboard-box">
          <div class="icon-dashboard">
            <i class="material-symbols-outlined dashboard-icon">dashboard</i>
          </div>
          <div id="dashboard-text">Dashboard</div>
        </button>

        <ul >
          <a href="/home">
            <li class="icon-dash">
              <i class="material-symbols-outlined">Home</i>
              <div class="dash-text">Home</div>
            </li>
          </a>

        

          <a href="/history/post">
            <li class="icon-dash">
              <i class="material-symbols-outlined">history</i>
              <div class="dash-text">History</div>
            </li>
          </a>

          <a href="/unavailable/Settings%20Not%20Available" target="_blank">
            <li class="icon-dash">
              <i class="material-symbols-outlined">settings</i>
              <div class="dash-text">Settings</div>
            </li>
          </a>

          <a href="/logout">
            <li class="icon-dash logout-icon">
              <i class="material-symbols-outlined">logout</i>
              <div class="dash-text">Logout</div>
            </li>
          </a>

       
        </ul>
      </aside>
      <article class="article">
       
        {% if folder_list|length != 0 %}
        <div class="left-thumbnail" >
          <div>Your Collections</div>
            <div class="thumbnail-article">

              {% for folder in folder_list %}
              <a class="thumbnail-box" href="/home/folder/{{folder['folder_name']}}">
                <img src="../static/folderimg/{{ folder['src_path'] }}" alt="">
                <div class="categories_name">{{ folder['folder_name'] }}</div>
              </a>
            {% endfor %}
            </div>
          </div>

          {% else %}
          <div>Empty Folders</div>
          {% endif %}

            <div class="side-content-article">

              <div class="new-upload-box">
                <div class="new-upload-box-text">New Uploads</div>
                <div class="new-upload-post">

                  {% for new_post in new_post_list %}
                    <div class="new-upload-post-box">
                      <a href="/home/folder/{{new_post['folder_name']}}/post/{{new_post['title_path']}}" target="_blank">{{new_post['title_name']}}</a>
                    </div>

                  {% endfor %}
                </div>
              </div>
              
            </div>
            

      

          
      </article>
    </div>


    <div class="pick-avatar">
      <div class="pick-avatar-header">
        <div>Pick an Avatar</div>
        <div class="material-symbols-outlined avatar-close">close</div>
      </div>

      <div  class="avatargrid">
      <form  action="/home" method="POST">
       {% for avatar_path in all_avatar_path %}

       {% if avatar_path['avatarPath'] == current_avatar %}
       <img src="{{ url_for('static', filename='avatars/' ~ avatar_path['avatarPath']) }}" alt="icon" data-avatar="{{avatar_path['avatarPath']}}" class="current_avatar" style="pointer-events: none;">
       <input type="hidden" id="current_avatar" name="current_avatar" value="{{avatar_path['avatarName']}}">
       {% else %}
       <img src="{{ url_for('static', filename='avatars/' ~ avatar_path['avatarPath']) }}" alt="icon" data-avatar="{{avatar_path['avatarPath']}}">
       {% endif %}
      {% endfor %}
       <input type="hidden" id="selected_avatar" name="selected_avatar" value="">
   

       <hr>
       <div class="pick-avatar-button">
          <button type="submit">Okay</button>
       </div>
      </form>
     </div>

   
  </div>

  </body>
</html>
