<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Login</title>
  </head>
  <body>
    <main class="login-signup-container">
      <div class="left_image">
        <img
          src="images/login&signup.svg"
          alt="login&signupImage"
          id="stash-port-img"
        />
      </div>

      <div class="login-sigup-form">
        <div class="login-signup-box">
          <div id="stash-port-title">StashPort</div>

          <form action="">
            <div class="email">
              <input
                type="email"
                placeholder="Email"
                name="email"
                autocomplete="off"
                autofocus
                id="email"
              />
            </div>
            <div class="password">
              <input
                type="password"
                placeholder="Password"
                name="password"
                autocomplete="off"
                autofocus
                id="password"
              />
            </div>
            <div class="button">
              <button type="submit">Sign In</button>
            </div>
          </form>
          <div class="others">
            <div>No Account? <a href="">Sign Up</a></div>
            <div><a href="">Forgot password?</a></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
