<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="/static/login.js" defer></script>
    <title>Login</title>
  </head>
  <body>
    <main class="login-signup-container">
      <div class="left_image">
        <img
          src="{{ url_for('static', filename='images/login&signup.svg')}}"
          alt="login&signupImage"
          id="stash-port-img"
        />
      </div>

      <div class="login-sigup-form">
        <div class="login-signup-box">
          <div id="stash-port-title">StashPort</div>

          <form action="/" method="POST">
            <div class="username">
              <input
                type="text"
                placeholder="Username"
                name="username"
                autocomplete="off"
                autofocus
                id="username"
              />
            </div>
            {% if username_error %}
            <div class="login-username-helper">{{username_error}}</div>
            {% endif %}

            <div class="password">
              <input
                type="password"
                placeholder="Password"
                name="password"
                autocomplete="off"
                autofocus
                id="password"
              />
            </div>
            {% if password_error %}
            <div class="login-username-helper">{{password_error}}</div>
            {% endif %}
            <div class="button">
              <button type="submit" id="login-button">Sign In</button>
            </div>
          </form>
          <div class="others">
            <div>No Account? <a href="/signup">Sign Up</a></div>
            <div><a href="">Forgot password?</a></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
