<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
    rel="stylesheet"
    href= "{{ url_for('static', filename='folder-post.css') }}"
  />
  <script src= "{{ url_for('static', filename='tagFunction.js') }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.4.0/tagify.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.4.0/tagify.css">
  <script src="{{ url_for('static', filename='edit-main-post.js') }}" defer></script>

    <title>All Post</title>
  </head>
  <body>
    <div class="main-container-post">
    <nav class="nav">
      <div class="searchInput">
        <label for="search"
          ><i class="material-symbols-outlined">Search</i></label
        >
        <input type="text" id="search" autocomplete="off" />
      </div>

      <div class="middle-nav">
        <a href="/home"><i class="material-symbols-outlined icon">Home</i></a>
        <a href=""><i class="material-symbols-outlined icon">History</i></a>
      </div>

      <div class="nav-profile">
        <img src="{{ url_for('static', filename='images/rabbit.png') }}" alt="icon">
      </div>
    </nav>

    <aside class="aside">
 
      <div class="my-collection-title">Other Collections</div>
   
    </aside>

    <article class="article">
        <div class="main-post">
            <button  class="main-post-edit-button" onclick="editPost()"><i class="material-symbols-outlined">edit</i></button>
            <div class="main-post-title">{{title_name}}</div>
            <div class="main-post-tags">
                <i class="material-symbols-outlined tags">sell</i>
                <div>Coding</div>
                <i class="material-symbols-outlined tags">sell</i>
                <div>Codes</div>
            </div>

            <div class="main-post-link">
                <div>Link</div>
                <div><a href="{{post_contents['link_url']}}" target="_blank">{{post_contents['link_url']}}</a></div>
            </div>

            <div class="main-post-description">
                <div class="main-post-description-text">Description</div>
                <div class="main-post-description-textbox">
                    <textarea name="main-post-textarea" id="main-post-textarea" cols="100" rows="20" readonly style="resize: none;">{{post_contents['description']}}</textarea>
                </div>
            </div>
            
            <form class="post-textbox-upload main-post-form" method="POST">
                <button class="main-post-form-close-button" onclick="formClose()">
                    <i class="material-symbols-outlined">close</i>
                </button>

                <div class="title-area">
                  <div class="folder-dropdown">
                    <select name="folders" id="folders">
                      <option disabled selected>Collections</option>
                      {% for folder in folders %}
                      {% if folder == folder_name %}
                      <option value="{{folder}}" selected>{{folder}}</option>
                      {%else %}
                      <option value="{{folder}}">{{folder}}</option>
                      {% endif %}
                      {% endfor %}
                      <option value="createnew">Create New</option>
                    </select>
                  </div>
      
                  <div class="title-input">
                    <input
                      type="text"
                      name="title"
                      autocomplete="off"
                      autofocus
                      placeholder="Use Appropiate Title"
                      id="title"
                      value="{{title_name}}"
                    />
                  </div>
                </div>
      
                <div class="links">
                  <input
                    type="text"
                    name="link"
                    id="link"
                    placeholder="Link"
                    value="{{post_contents['link_url']}}"
                    autocomplete="off"
                  />
                </div>
      
                <div class="description-textbox">
                  <textarea name="description" id="description" cols="100" rows="10" autofocus style="resize: none">{{post_contents['description']}}</textarea>
              </div>
              
      
                <div class="tagArea">
                  <div>Tags</div>
                  <div>
                    <div>
                      <input
                        type="text"
                        name="tags"
                        autocomplete="off"
                        autofocus
                        autocapitalize="on"
                        value=""
                        id= "tags"
                      />
                    </div>
                    <div id="multiple-tags">
                      Multiple tags may be seperated by commas
                    </div>
                  </div>
                </div>
      
                <div class="post-link-button">
                  <button>
                    <i class="material-symbols-outlined">post_add</i>
                    <div>Change</div>
                  </button>
                </div>
              </form>
        </div>
    </article>
  </div>
  </body>
</html>
