<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
    rel="stylesheet"
    href= "{{ url_for('static', filename='folder-post.css') }}"
  />
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='profile-box.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='smallscreen.css') }}"
/>
  <script src= "{{ url_for('static', filename='tagFunction.js') }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.4.0/tagify.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.4.0/tagify.css">
  <script src="{{ url_for('static', filename='edit-main-post.js') }}" defer></script>
  <script src="{{ url_for('static', filename='folder-post.js') }}" defer></script>
  <script src="{{ url_for('static', filename='profile-box.js') }}" defer></script>
  <script src="{{ url_for('static', filename='post-edit.js') }}" defer></script>
    <title>Post</title>
  </head>
  <body>
   
    {% if all_errors %}
    <div class="all_error_post">
      <div class="all_error_post-header">
        <div>Oops! Something went wrong</div>
        <div>
          <button><i class="material-symbols-outlined">close</i></button>
        </div>
      </div>
      {% for error in all_errors %}
      <div class="all-errors-guide">{{error}}</div>
      {% endfor %}
    </div>
    {% endif %}


    <div class="main-container-post">
    <nav class="nav">
      <form class="searchInput" action="/search" method="GET">
        <label for="search"
          ><i class="material-symbols-outlined">Search</i></label
        >
        <input type="text" id="search" name= "q" autocomplete="off" />
      </form>

      <div class="middle-nav">
        <a href="/home"><i class="material-symbols-outlined icon">Home</i></a>
        <a href="/history/post"><i class="material-symbols-outlined icon">History</i></a>
      </div>
      <div class="nav-profile">

        <div class="nav-profile-extend">
          <div class="nav-profile-extend-box">
          <img class="prof-img" src="{{ url_for('static', filename='avatars/' ~ current_avatar_path) }}" alt="icon">
          <div>{{username}}</div>
        </div>
          <div class="open-profile-box">
            <div class="triangle"></div>
            <div class="content">
               <div class="profile-box-profiletext">Profile</div>
               <hr class="profile-boxline">
  
               <div class="profile-divide">
  
               <div class="profile-corner">
                <img class="prof-imgBig"  src="{{ url_for('static', filename='avatars/' ~ current_avatar_path) }}"  alt="icon">
                <div>edit</div>
               </div>
  
               <div class="profile-status">
  
                  <div class="profile-status-post">
                    <div>Upload Count: </div>
                    <div>{{count_post}}</div>
                  </div>
  
                  <div class="profile-status-category">
                    <div>Category Count: </div>
                    <div>{{count_categories}}</div>
                  </div>
  
               </div>
              </div>
  
              <div class="profile-box-logout"><a href="/logout">Logout</a></div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <aside class="aside">
 
      <div class="my-collection-title">Other Latest {{folder_name}} Post</div>

      <div class="other-latest-post-box">

        {% for post in other_latest_post %}
             <a class="other-latest-post" href="/home/">
              {{post['title_name']}}
             </a>
        {% endfor %}
      </div>
   
    </aside>

    <article class="article">
        <div class="main-post">
            <button  class="main-post-edit-button" onclick="editPost()"><i class="material-symbols-outlined">edit</i></button>
            <div class="main-post-title">{{title_name}}</div>
            <div class="main-post-tags">

              {% for tag in all_tags %}
              <div class="post-tag-box">
                <i class="material-symbols-outlined tags">sell</i>
                <div class="post_tag">{{tag['tag_name']}}</div>
              </div>
              {% endfor %}

              
               
            </div>

            <div class="main-post-link">
                <div>Link</div>
                <div><a href="{{post_contents['link_url']}}" target="_blank">{{post_contents['link_url']}}</a></div>
            </div>

            <div class="main-post-description">
                <div class="main-post-description-text">Description</div>
                <div class="main-post-description-textbox">
                    <textarea name="main-post-textarea" id="main-post-textarea" cols="100" rows="20" readonly style="resize: none;">{{post_contents['description']}}</textarea>
                </div>
            </div>
        </div>
        <form class="post-textbox-upload main-post-form"  method="POST">
          <button class="main-post-form-close-button" >
              <i class="material-symbols-outlined">close</i>
          </button>

          <div class="title-area">
            <div class="folder-dropdown">
              <select name="folders" id="folders">
                <option disabled selected>Collections</option>
                {% for folder in folders %}
                {% if folder == folder_name %}
                <option value="{{folder}}" selected>{{folder}}</option>
                {%else %}
                <option value="{{folder}}">{{folder}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="title-input">
              <input
                type="text"
                name="title"
                autocomplete="off"
                autofocus
                placeholder="Use Appropiate Title"
                id="title"
                value="{{title_name}}"
              />
            </div>
          </div>

          <div class="links">
            <input
              type="text"
              name="link"
              id="link"
              placeholder="Link"
              value="{{post_contents['link_url']}}"
              autocomplete="off"
            />
          </div>

          <div class="description-textbox">
            <textarea name="description" id="description" cols="10" rows="10" autofocus style="resize: none">{{post_contents['description']}}</textarea>
        </div>
        

          <div class="tagArea">
            <div>Tags</div>
            <div>
              <div>
                <input
                  type="text"
                  name="tags"
                  autocomplete="off"
                  autofocus
                  autocapitalize="on"
                  value="{{tag_separation}}"
                  id= "tags"
                />
              </div>
              <div id="multiple-tags">
                Multiple tags may be seperated by commas
              </div>
            </div>
          </div>

          <div class="post-link-button">
            <button>
              <i class="material-symbols-outlined">post_add</i>
              <div>Change</div>
            </button>
          </div>
        </form>
    </article>

    <div class="pick-avatar">
      <div class="pick-avatar-header">
        <div>Pick an Avatar</div>
        <div class="material-symbols-outlined avatar-close">close</div>
      </div>

      <div  class="avatargrid">
      <form  action="/home/folder/{{folder_path}}/post/{{title_path}}/update-avatar" method="POST">
       {% for avatar_path in all_avatar_path %}

       {% if avatar_path['avatarPath'] == current_avatar %}
       <img src="{{ url_for('static', filename='avatars/' ~ avatar_path['avatarPath']) }}" alt="icon" data-avatar="{{avatar_path['avatarPath']}}" class="current_avatar" >
       <input type="hidden" id="current_avatar" name="current_avatar" value="{{avatar_path['avatarName']}}">
       {% else %}
       <img src="{{ url_for('static', filename='avatars/' ~ avatar_path['avatarPath']) }}" alt="icon" data-avatar="{{avatar_path['avatarPath']}}">
       {% endif %}
      {% endfor %}
       <input type="hidden" id="selected_avatar" name="selected_avatar" value="{{current_avatar}}">
   

       <hr>
       <div class="pick-avatar-button">
          <button type="submit">Okay</button>
       </div>
      </form>
     </div>

   
  </div>
  </div>

  </body>
</html>
