<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='folder-post.css') }}"
  />
    <title>Search</title>
  </head>
  <body>
    <div class="main-container-post">
    <nav class="nav">
      <div class="searchInput">
        <label for="search"
          ><i class="material-symbols-outlined">Search</i></label
        >
        <input type="text" id="search" autocomplete="off" autofocus />
      </div>

      <div class="middle-nav">
        <a href="/home"><i class="material-symbols-outlined icon">Home</i></a>
        <a href=""><i class="material-symbols-outlined icon">History</i></a>
      </div>

      <div class="nav-profile">
        <img src="{{ url_for('static', filename='images/rabbit.png') }}" alt="icon">
      </div>
    </nav>

    <aside class="aside"> 
      <div class="my-collection-title">Newest Collections</div>
   
      {% if newest_folders|length == 1 %}
      <div class="my-collection-title">No Other Collections</div>
      {% else %}
      <div class="my-collection-title">Other Collections</div>
      {% endif %}

      {% for folder in newest_folders %}
      <a class="collection-box" href="/home/folder/{{newest_folders['folder_name']}}">
        <div class="collection-img"><img src="{{ url_for('static', filename='folderimg/' ~ folder['src_id'] ~ '.png') }}" alt="Category Image">
        </div>
        <div class="collection-name">{{folder['folder_name']}}</div>
      </a>

      {% endfor %}

   

    </aside>

    <article class="article">
      <div class="article-title">Search Result</div>

      {% for result in search_result %}

      <div class="box-post">
        <a href="/home/folder/{{result['folder_category']}}/post/{{result['title_path']}}">
        <div class="folder-belong">{{result['folder_category']}}</div>
       <div class="post-title">{{result['title_name']}}</div>
      </a>
      </div>

      {% endfor %}
    </article>
  </div>
  </body>
</html>
