<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="/static/signup.js" defer></script>
    <title>Sign Up</title>
  </head>
  <body>
    <main class="login-signup-container">
      <div class="left_image">
        <img
          src="{{ url_for('static', filename='images/login&signup.svg')}}"
          alt="login&signupImage"
          id="stash-port-img"
        />
      </div>

      <div class="login-sigup-form signup-form">
        <div class="login-signup-box">
          <div id="stash-port-title">Let's Get Started</div>

          <form action="/signup" id="sign-form" method="POST">
            <div class="name-user-box">
              <div class="fname">
                <input
                  type="text"
                  placeholder="First Name"
                  name="fname"
                  autocomplete="off"
                  autofocus
                  id="fname"
                />
              </div>
              <div class="lname">
                <input
                  type="text"
                  placeholder="Last Name"
                  name="lname"
                  autocomplete="off"
                  autofocus
                  id="lname"
                />
              </div>
            </div>
            {% if fname_error and lname_error %}
            <div class="signup-name-error">
              <div class="signup-fname-helper">{{ fname_error }}</div>
              <div class="signup-lname-helper">{{ lname_error }}</div>
            </div>
            {% elif fname_error %}
            <div class="signup-fname-helper">{{ fname_error }}</div>
            {% elif lname_error %}
            <div class="signup-lname-helper">{{ lname_error }}</div>
            {% endif %}

            <div class="username-signup">
              <input
                type="text"
                placeholder="Username"
                name="username-signup"
                autocomplete="off"
                autofocus
                id="username-signup"
              />
            </div>
            {% if username_error %}
            <div class="signup-username-helper">{{ username_error }}</div>
            {% endif %}
            <div class="password-signup">
              <input
                type="password"
                placeholder="Password"
                name="password-signup"
                autocomplete="off"
                autofocus
                id="password-signup"
              />
            </div>
            {% if password_error %}
            <div class="signup-password-helper">{{ password_error }}</div>
            {% endif %}
            <div class="confirm-password-signup">
              <input
                type="password"
                placeholder="Confirm Password"
                name="confirm-password-signup"
                autocomplete="off"
                autofocus
                id="confirm-password-signup"
              />
            </div>

            {% if confirm_pass_error %}
            <div class="signup-confirm_password-helper">{{ confirm_pass_error }}</div>
            {% endif %}
            <div class="button-signup">
              <button type="submit" id="sign-up-button">Sign Up</button>
            </div>
          </form>
          <div class="others-signup">
            <div>Already have an Account? <a href="/">Sign In</a></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
