<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='upload.js') }}" defer></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Upload</title>
  </head>
  <body>
    <div class="add-new-folder">
      <form action="upload/addfolder" method="POST">
        <div>Name Your Folder</div>
        <div>
          <input
            type="text"
            autofocus
            autocomplete="off"
            name="folder_name"
            id="folder_name_input"
          />
        </div>
        <button id="add-new-folder-button" class="disabled-button">
          Add New
        </button>
      </form>
      <div class="close-folder-div">
        <button id="close-folder-form">
          <i class="material-symbols-outlined">close</i>
        </button>
      </div>
    </div>

    {% if all_errors %}
    <div class="all_error_post">
      <div class="all_error_post-header">
        <div>Oops! Something went wrong</div>
        <div>
          <button><i class="material-symbols-outlined">close</i></button>
        </div>
      </div>
      {% for error in all_errors %}
      <div class="all-errors-guide">{{error}}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="body-container">
      <header class="header">
        <div class="header-top-upload">
          <div class="left-side-upload">
            <label for="search" class="material-symbols-outlined">
              search
            </label>
            <input type="text" class="search" id="search"  autocomplete="off"/>
          </div>
          <div class="right-side-upload">
            <div>
              <img
                src="{{ url_for('static', filename='images/rabbit.png') }}"
                alt="icon"
              />
            </div>
            <div>{{username}}</div>
          </div>
        </div>
      </header>
      <aside class="sidebar">
        <button class="dashboard-box">
          <div class="icon-dashboard">
            <i class="material-symbols-outlined dashboard-icon">dashboard</i>
          </div>
          <div id="dashboard-text">Dashboard</div>
        </button>

        <ul>
          <a href="/home">
            <li class="icon-dash">
              <i class="material-symbols-outlined">Home</i>
              <div class="dash-text">Home</div>
            </li>
          </a>

          <a href="">
            <li class="icon-dash">
              <i class="material-symbols-outlined">account_circle</i>
              <div class="dash-text">Profile</div>
            </li>
          </a>

          <a href="">
            <li class="icon-dash">
              <i class="material-symbols-outlined">history</i>
              <div class="dash-text">History</div>
            </li>
          </a>

          <a href="">
            <li class="icon-dash">
              <i class="material-symbols-outlined">settings</i>
              <div class="dash-text">Settings</div>
            </li>
          </a>

          <a href="/logout">
            <li class="icon-dash logout-icon">
              <i class="material-symbols-outlined">logout</i>
              <div class="dash-text">Logout</div>
            </li>
          </a>
        </ul>
      </aside>
      <article class="article-upload">
        <div class="post-text-box">Note The Link</div>

        <form class="post-textbox-upload" method="POST">
          <div class="title-area">
            <div class="folder-dropdown">
              <select name="folders" id="folders">
                <option disabled selected>Folders</option>
                {% for folder in folders %}
                <option value="{{folder}}">{{folder["folder_name"]}}</option>
                {% endfor %}
                <option value="createnew">Create New</option>
              </select>
            </div>

            <div class="title-input">
              <input
                type="text"
                name="title"
                autocomplete="off"
                autofocus
                placeholder="Use Appropiate Title"
                id="title"
                value="{{title_value}}"
              />
            </div>
          </div>

          <div class="links">
            <input
              type="text"
              name="link"
              id="link"
              placeholder="Link"
              value="{{link_value}}"
            />
          </div>

          <div class="description-textbox">
            <textarea name="description" id="description" cols="100" rows="10">
{{description_value}}</textarea
            >
          </div>

          <div class="tagArea">
            <div>Tags</div>
            <div>
              <div>
                <input
                  type="text"
                  name="tags"
                  autocomplete="off"
                  autofocus
                  autocapitalize="on"
                  value="{{tags_value}}"
                />
              </div>
              <div id="multiple-tags">
                Multiple tags may be seperated by commas
              </div>
            </div>
          </div>

          <div class="post-link-button">
            <button>
              <i class="material-symbols-outlined">post_add</i>
              <div>Post This</div>
            </button>
          </div>
        </form>
      </article>
    </div>
  </body>
</html>
